<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %> 
<body>
    <%- include('./partials/header.ejs') %>   
    <main class="cont-main-carrito">
        <div class="carrito-inner-grilla carrito-inner">
            <div class="area-cart-transactional">
                <div class="titulo-detalles-info carrito-titulo-flex">
                    <div class="carrito-titulo ">
                        <h1 class="detalle-del-titulo">Carrito de Compras</h1>
                    </div>
                    <div class="deilvery-opciones">
                        <a href="/detalles-info" class="boton-delivery">Opciones de Delivery</a>
                    </div>
                </div>
                <div data-qa-empty-cart-message="" class="s-pwa-cms c-pwa-markdown">
                </div>
            </div>
            <div class="resumen-orden-compra">
                <div class="resumen-compra-contenido">
                    <div class="resumen-titulo">
                        <h2>Resumen del pedido</h2>
                       <p> <%= productCart.nombre %> </p>
                       <p> <%= productCart.descripcion %> </p>
                       <p> <%= productCart.precio %> </p>

                    </div>
                </div>
                <div class="order-resumen-inner">
                    <ul>
                        <li class="lista-orden">Subtotal
                            <span data-qa-subtotal="" class="orden-totales-value">
                                <p> <%= productCart.precio %> </p>
                            </span>
                        </li>
                        <li class="lista-orden">Delivery
                            <span data-qa-shipping-cost="" class="orden-totales-value">
                                <p>sin consto tus primeros 10 productos</p>
                            </span>
                        </li>
                        <li class="lista-orden lista-orden-total">Total
                            <span data-qa-total-cost="" class="orden-totales-value">
                                    <p><%= productCart.precio %> </p>
                            </span>
                        </li>
                    </ul>
                    <div class="orden-resumen-boton">
                        <div class="orden-boton-comprar">
                            <div class="">
                                  <a type="button" class="btn btn-secundary"href="../../comprado">comprar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <%- include('./partials/footer.ejs') %>
    
</body>
</html>