<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %> 
<link rel="stylesheet" href="stylesheets/tyleindex.css">
<body>
  <div class="cont-body"> 
  <%- include('./partials/header.ejs') %>
    <main class="main-categorias-detalle-producto">  
      <h1>Detalle del Producto</h1>
        <h2><%= detalleProducto.nombre %> </h2>
        <img class="description__img--productDetail" src="/images/productos/<%=detalleProducto.imagen_producto%> ">
      </div>
      <p class="description__text--productDetail">
        <!-- Ac치 va la descripci칩n -->
        <%= detalleProducto.descripcion %>
      </p>
    </div>
    <div class="purchase__productDetail">
      <p class="purchase--price__productDetail">
        <!-- Ac치 va el precio -->
        $<%= detalleProducto.precio %>
      </p>
      

        <a href="/carrito/<%=detalleProducto.id %>">
        <div class="signup__register--button">
            <i class="fas fa-shopping-cart"></i>
            <span>
              A침adir al carrito
            </span>
        </div>
      </a>
        <a href="/producto/editar/<%= detalleProducto.id %> ">
          <button class="signup__register--button-1">Editar</button>
        </a>
                <form action="/producto/delete/<%= detalleProducto.id %>?_method=delete" method="POST" >
                  <button type="submit" class="boton-eliminar-producto-detalle" >Eliminar Producto</button>
                </form>
        </div>    
    </main>
<%- include('partials/footer.ejs') %>
</body>
</html>