<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %> 

<body>
  <%- include('partials/header.ejs') %>     
  <div class="container-form-edit">
     <h1 class="titulo-producto-editar">Editar Producto</h1>
      <form action="/producto/editar/<%=productFound.Id %>?_method=PUT " method="POST" enctype="multipart/form-data" class="formulario-editar-productos">

        <div class="form-group editar-prodcuto-grupo1">
          <label for="formGroupExampleInput" class="titulo-editar">Nombre del Producto</label>
          <input type="text" class="form-control form-control-edit" name="nombre" id="formGroupExampleInput" placeholder= <%= productFound.nombre %>>
        </div>
        <div class="form-group editar-prodcuto-grupo1">
          <label for="formGroupExampleInput2" class="titulo-editar">Precio del Producto</label>
          <input type="text" class="form-control form-control-edit" name="precio" id="formGroupExampleInput2" placeholder=<%= productFound.precio %>>
        </div>
        <div class="form-group editar-prodcuto-grupo1">
          <label for="formGroupExampleInput" class="titulo-editar">Descripción</label>
          <input type="text" class="form-control form-control-edit" name="descripcion" id="formGroupExampleInput" placeholder=<%= productFound.descripcion %>>
        </div>
        <div class="form-group editar-prodcuto-grupo1">
          <label for="exampleFormControlSelect1" class="titulo-editar ">Elija una Categoría</label>
          <select class="form-control form-control-edit"  name ="categorium_id" id="exampleFormControlSelect1" >
            <% categorias.forEach(categoria => { %>
              <% if (productFound.categorium_id == categoria.id) { %>
            <option value="<%= categoria.id %>" selected><%= categoria.nombre_categoria %> </option>
            <% } else { %>
            <option value="<%= categoria.id %>"><%= categoria.nombre_categoria %> </option>
            <% } %>
            <% }) %>

          </select>
          </div>
          <div class="form-group editar-prodcuto-grupo1">
            <label for="exampleFormControlSelect1" class="titulo-editar">Elija un Género</label>
            <select class="form-control form-control-edit"  name ="genero_id" id="exampleFormControlSelect1" >
              <% generos.forEach(genero => { %>
                <% if (productFound.genero_id == genero.id) { %>
              <option value="<%= genero.id %>" selected><%= genero.nombreGenero %> </option>
              <% } else { %>
              <option value="<%= genero.id %>"><%= genero.nombreGenero %> </option>
              <% } %>
              <% }) %>
  
            </select>
            </div>
          <section class="container-image">
             <div class="fileinput fileinput-new" data-provides="fileinput">
             <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px;" ></div>
             <div>
             <span class="btn btn-default btn-file editar-boton-imagen"><span class="fileinput-new">Suba la imagen del Producto</span><br>
             <span class="fileinput-exists"></span><input type="file" name="image"></span>
            </div>
           </div>
          <section>
     <!--quiero centrar esto -->
        <div class="col-auto my-1">
            <button type="submit" class="btn btn-primary editar-boton-edit editar-boton-edit-enviar">Enviar</button>
          </div>
        </form>
      <form action="/producto/delete/<%= productFound.id %>?_method=delete" method="POST" >
        <button type="submit" class="btn btn-danger" >eliminar producto</button>
      </form>>
      </div> 
     <!--balalaln-->
     <%- include('./partials/footer.ejs') %>
</body>
</html>