<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head.ejs') %> 
</head>
<body>
    <%- include('partials/header.ejs') %>     
  <div class="container-form">  
      <form action="/producto/editar/<%=productFound.Id %>?_method=PUT " method="POST">

        <div class="form-group">
          <label for="formGroupExampleInput">Nombre del producto</label>
          <input type="text" class="form-control" name="nombre" id="formGroupExampleInput" placeholder= <%= productFound.nombre %>>
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput2">precio del producto</label>
          <input type="text" class="form-control" name="precio" id="formGroupExampleInput2" placeholder=<%= productFound.precio %>>
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput">descripcion</label>
          <input type="text" class="form-control" name="descripcion" id="formGroupExampleInput" placeholder=<%= productFound.descripcion %>>
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Elija una categoria</label>
          <select class="form-control"  name ="categorium_id" id="exampleFormControlSelect1" >
            <% categorias.forEach(categoria => { %>
              <% if (productFound.categorium_id == categoria.id) { %>
            <option value="<%= categoria.id %>" selected><%= categoria.nombre_categoria %> </option>
            <% } else { %>
            <option value="<%= categoria.id %>"><%= categoria.nombre_categoria %> </option>
            <% } %>
            <% }) %>

          </select>
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect1">Elija un Genero</label>
            <select class="form-control"  name ="genero_id" id="exampleFormControlSelect1" >
              <% generos.forEach(genero => { %>
                <% if (productFound.genero_id == genero.id) { %>
              <option value="<%= genero.id %>" selected><%= genero.nombreGenero %> </option>
              <% } else { %>
              <option value="<%= genero.id %>"><%= genero.nombreGenero %> </option>
              <% } %>
              <% }) %>
  
            </select>
            </div>
          <section class="container-image">
             <div class="fileinput fileinput-new" data-provides="fileinput">
             <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px" ></div>
             <div>
             <span class="btn btn-default btn-file"><span class="fileinput-new">Suba la imagen del producto</span><br>
             <span class="fileinput-exists"></span><input type="file" name="image"></span>
            <a href="#" class="btn btn-primary" data-dismiss="fileinput">eliminar</a>
            </div>
           </div>
          <section>
     <!--quiero centrar esto -->
        <div class="col-auto my-1">
            <button type="submit" class="btn btn-primary">Enviar</button>
          </div>
      </form>
      </div> 
     <!--balalaln-->
</body>
</html>