<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %> 

<body>
  <%- include('./partials/header.ejs') %> 
    

<div class="container-productos-listar">
  <h1> Todos los Productos</h1>
<% lista.forEach(product => { %>
 
    <div class="card contenedor-product_listar" >
  
        <img src="/images/productos/<%= product.imagen_producto %> " class="card-img-top" alt="...">

        <div class="card-body">
          <h5 class="card-title-listar-producto-detalle"> <%= product.nombre %> </h5>
          <h4 class="card-title-listar-productoss"> <%= product.descripcion %> </h4>
          
          
          <a href="/carrito/<%= product.id %> " class="btn btn-primary">Comprar</a>
        </div>
      </div>
    

      <% }); %> 
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>