<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %> 

<body>
  <%- include('./partials/header.ejs') %> 
    <h1> usuarios</h1>

<div class="container-lista-usuarios">
<h1>Lista de Usiarios de TB</h1>
<% lista.forEach(usuario => { %>
      <div class="contenedor-imagen-mail-usuario">
          <img src="/images/users/<%= usuario.avatar%> "alt="...">
          <h2 class="email-listar-usuario">Email:</h2>
          <p class="card-title"> <%= usuario.email %> </p>
        
      
    
        </div>
      <% }); %> 
    
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>