<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>agregar producto </title>
    
    <link rel="stylesheet" href="/stylesheets/productAdd.css">
    <link rel="stylesheet" href='/stylesheets/styleindex.css'>
    
   <!--bootstrap css-->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
   <!--aca estan correctamente los links de los js necesarios para que anden tanto el buscador como el carrusel-->
   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
   <%- include('./partials/head.ejs') %> 
</head>
<body>  
  <%- include('partials/header.ejs') %>      
  <div class="container-form">  
      <form action="/agregarProducto" method="POST" class="contenedor-agregar-producto" enctype="multipart/form-data">

        <div class="form-group">
          <label for="formGroupExampleInput">Nombre del producto</label>
          <input type="text" class="form-control" name="nombre" id="nombre"  placeholder=" ejemplo: remera adiddas" required>
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput2">Precio del Producto</label>
          <input type="text" class="form-control" name="precio" id="precio"   placeholder=" ejemplo: $1500" required>
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput">Descripcion</label>
          <input type="text" class="form-control" name="descripcion" id="descripcion"  placeholder="ejemplo: remera de mujer talle ...." required>
        </div>
        <div class="form-group" style="text-align: center;">
          <label for="exampleFormControlSelect1">Elija un Genero</label>
          <select class="form-control"  name ="genero_id"  >
            <% generos.forEach(genero => { %>
             <option value="<%=genero.id %> "> <%= genero.nombreGenero %> </option>
            <% }) %>
          </select>
          </div>
          <div class="form-group" style="text-align: center;">
            <label for="exampleFormControlSelect1">Elija una categoria</label>
            <select class="form-control"  name ="categorium_id" id="categorium_id">
              <% categorias.forEach(categoria => { %>
                <option value="<%=categoria.id %> "> <%=categoria.nombre_categoria %> </option>
               <% }) %>
             </select>
            </select>
            </div>

          <section class="container-image"name="imagen_producto" id="imagen_producto">
             <div class="fileinput fileinput-new" name="imagen_producto" id="imagen_producto" data-provides="fileinput">
             <div class="fileinput-preview thumbnail" data-trigger="fileinput" name="imagen_producto" id="imagen_producto"  style="width: 200px; height: 10px" ></div>
             <div>
             <span class="btn btn-default btn-file"><span class="fileinput-new">Suba la imagen del Producto</span><br>
             <span class="fileinput-exists"></span><input type="file" name="imagen_producto" id="imagen_producto"></span>
            </div>
           </div>
          <section>
     <!--quiero centrar esto -->
     <div class="col-auto my-1" >
      <button type="submit" class="btn btn-primary" style="margin-left: 25%;">eliminar</button>
    </div>
        <div class="col-auto my-1" >
            <button type="submit" class="btn btn-primary" style="margin-left: 25%;">Enviar</button>
          </div>
      </form>
      </div>
      <%- include('./partials/footer.ejs') %>
</body>
</html>